################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tests/.vs/Tests
/Tests/Calc/x64
/Tests/Pi/x64
/Tests/x64/Release
