################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calc/x64/Debug
/Pi/.vs/Pi
/Pi/Pi/x64/Debug
/Pi/x64/Debug
